<h1 [ngClass]="mobileQuery.matches ? 'mobile-h1' : 'h1'">
    Naszym głównym celem jest budowanie Twoich marzeń…
</h1>
<div class = "container">
 
    <p>
        Jesteśmy doświadczoną firmą deweloperską, aktywnie działającą od wielu lat na rynku małopolskim. 
        Realizujemy inwestycje w sektorze budowlanym zarówno w małej jak i dużej skali. 
        Przez kilka lat działalności na rynku dobrze poznaliśmy upodobania Klientów, dzięki czemu wychodzimy na przeciw ich oczekiwaniom. 
        Specjalizujemy się w budowie domów jednorodzinnych w zabudowach indywidualnych, bliźniaczych i szeregowych.
    </p>

    <p>Jesteśmy firmą o charakterze rodzinnym, co pozwala nam dotrzeć do każdego klienta i wysłuchać jego indywidualne i 
        rodzinne potrzeby. Zawsze staramy się uwzględnić potrzeby naszych Klientów aby cieszyć się ich zaufaniem i szacunkiem. 
        Nasze nieodzowne atuty to solidność oraz terminowość wykonywanych przez nas prac. Każde nasze osiedle adresowane jest 
        do konkretnej grupy osób, zarówno do młodych dynamicznych lubiących komfort i bliskość miejskiego życia jak i do 
        stateczniejszych rodzin ceniących sobie wygodę, bezpieczeństwo i urokliwe otoczenie. Staramy się planować nasze inwestycje tak, 
        aby na ich terenie znajdowały się wszystkie niezbędne do wygodnego życia urządzenia infrastruktury.
        Przewidujemy w obrębie naszych osiedlach miejsca na tereny rekreacyjne i place zabaw dla dzieci. 
        Tworzymy osiedla, wyróżniające się tradycyjną architekturą, dobrze wkomponowane w otaczającą je okolicę. 
        Naszą dewizą jest wysoka jakość i solidność, a celem satysfakcja klientów.
    </p>
        
    <h3>
        Przez kilka lat działalności wybudowaliśmy:
    </h3>
    <ul>
            <li><b>Słoneczna Wadowska</b> - kameralne osiedle ośmiu domów jednorodzinnych w zabudowie bliźniaczej zlokalizowane w Nowej Hucie.</li>
            <li><b>Słoneczna Wierzbowa</b> - kameralne osiedle 16 mieszkań (8 domów jednorodzinnych dwulokalowych – typu zabudowa bliźniacza) usytuowanych przy ulicy Wierzbowej w miejscowości Modlnica, gmina Wielka Wieś.</li>
            <li><b>Apartamenty nad wilgą</b> - kameralny kompleks  4 przestronnych mieszkań  z balkonami, położony  w urokliwym, spokojnym i pełnym zieleni miejscu, w dzielnicy Krakowa – Opatkowice.</li>
            <li><b>LA DUBIOS</b> - kameralny kompleks dwóch domów składający się z czterech niezależnych, bezczynszowych mieszkań.</li>
            <li><b>Apartamenty Unruga</b> - kameralny kompleks 6 apartamentów w zacisznej, zielonej dzielnicy Krakowa – Skotniki, przy ulicy Unruga/Winnicka.</li>
            <li><b>Arkadia Kokotów</b>Arkadia Kokotów - to kolejny etap inwestycji  zlokalizowanej na granicy Krakowa i Wieliczki, wśród  terenów zielonych. To  propozycja dla rodzin oraz osób ceniących sobie spokój, a jednocześnie bliskość centrum miasta.</li>
            <li><b>Słoneczna zacisze Kokotów</b> - to kameralne osiedle sześciu domów jednorodzinnych w zabudowie bliźniaczej zlokalizowane w Kokotowie, w gm. Wieliczka przy ul. Gaisko – przecznica od ul. Kokotowskiej.</li>
            <li><b>Osiedle pod Olchami</b> - kameralne osiedle 16 domów dwupoziomowych  (8 domów jednorodzinnych dwulokalowych – typu zabudowa bliźniacza) usytuowanych przy ulicy Hoyera w dzielnicy Stary Biezanów. </li>
            <li><b>Zakątek Kokotów</b> - to dwa domy jednorodzinne dwulokalowe w Kokotowie, przy ul.Gajsko </li>
            <li><b>Zielone Owczary</b> - to mini osiedle stanowiące dwa domy jednorodzinne po 97 m2 powierzchni użytkowej, położone w malowniczych Owczarach – gminie Zielonki.</li>
            <li><b>Osiedle Rączna</b> - osiedle domów w podkrakowskiej miejscowości Rączna, 15 km od Rynku Głównego.</li>
            <li><b>ZIELONY ZAKĄTEK</b>- to kameralny kompleks dwóch domów składający się z czterech segmentów.</li>
            <li><b>Osiedle Rzeplin</b> - to budynki jednorodzinne w zabudowie bliźniaczej.</li>
            <li><b>Osiedle Akacjowe</b> - to enklawa domów jednorodzinnych po 169 m2 każdy.</li>
            <li><b>Osiedle Glinki</b> - to domy jednorodzinne w zabudowie bliźniaczej usadowione na działkach ok 4,5 arowych.</li>
            <li><b>Osiedle Na Wzgórzu</b> - to osiedle domów jednorodzinnych wybudowanych w Nowej Hucie. Domy po 155m2 każdy usadowiony na 4,5 arowej działce.</li>
    </ul> 
</div>
