.container{
    margin-left: 8%;
   
    p {
        color: #676767;
        margin: 2% 8% 0 0%;
        letter-spacing: 0.6px;
        word-spacing: 1px;
        line-height: 1.5;
        text-align: justify;
    }
    

    ul{
        color: #444444;
        margin: 2% 8% 2% 0%;   
    }

    li{
        color: #444444;
        margin: 1% 0% 1% 0%;
        letter-spacing: 0.6px;
        word-spacing: 1px;
        line-height: 1.5;
        text-align: justify;   
    }

}
.h1 {
    font-weight: bold;
    font-size: 200%;
    color: #444444;
    
    margin-left: 8%;
}

.mobile-h1 {
    font-weight: bold;
    font-size: 160%;
    color: #444444;
    text-align: center;
};