<h1 [ngClass]="mobileQuery.matches ? 'mobile-h1' : 'h1'">
    Naszym głównym celem jest budowanie Twoich marzeń…
</h1>
<div class = "container">
 
    <p>
        Jesteśmy doświadczoną firmą deweloperską, aktywnie działającą od wielu lat na rynku małopolskim. 
        Realizujemy inwestycje w sektorze budowlanym zarówno w małej jak i dużej skali. 
        Przez kilka lat działalności na rynku dobrze poznaliśmy upodobania Klientów, dzięki czemu wychodzimy na przeciw ich oczekiwaniom. 
        Specjalizujemy się w budowie domów jednorodzinnych w zabudowach indywidualnych, bliźniaczych i szeregowych.
    </p>

    <p>Jesteśmy firmą o charakterze rodzinnym, co pozwala nam dotrzeć do każdego klienta i wysłuchać jego indywidualne i 
        rodzinne potrzeby. Zawsze staramy się uwzględnić potrzeby naszych Klientów aby cieszyć się ich zaufaniem i szacunkiem. 
        Nasze nieodzowne atuty to solidność oraz terminowość wykonywanych przez nas prac. Każde nasze osiedle adresowane jest 
        do konkretnej grupy osób, zarówno do młodych dynamicznych lubiących komfort i bliskość miejskiego życia jak i do 
        stateczniejszych rodzin ceniących sobie wygodę, bezpieczeństwo i urokliwe otoczenie. Staramy się planować nasze inwestycje tak, 
        aby na ich terenie znajdowały się wszystkie niezbędne do wygodnego życia urządzenia infrastruktury.
        Przewidujemy w obrębie naszych osiedlach miejsca na tereny rekreacyjne i place zabaw dla dzieci. 
        Tworzymy osiedla, wyróżniające się tradycyjną architekturą, dobrze wkomponowane w otaczającą je okolicę. 
        Naszą dewizą jest wysoka jakość i solidność, a celem satysfakcja klientów.
    </p>
        
    <p>
        Przez kilka lat działalności wybudowaliśmy:
    </p>
    <ul>
            <li>Słoneczna Wadowska - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle</li>
            <li>Słoneczna Wierzbowa- osiedle dwóch domów wielorodzinych ble ble ble ble ble vle </li>
            <li>Apartamenty nad wilgą- osiedle dwóch domów wielorodzinych ble ble ble ble ble vle</li>
            <li>LA DUBIOS - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle</li>
            <li>Apartamenty Unruga - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle </li>
            <li>Arkadia Kokotów - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle</li>
            <li>Słoneczna zacisze Kokotów - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle</li>
            <li>Osiedle pod Olchami - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle </li>
            <li>Zakątek Kokotów - osiedle dwóch domów wielorodzinych ble ble ble ble ble vle</li>
    </ul> 
</div>
