.footer {
    height: 50px;
    background-color: #F27915;
    display: flex;
    justify-content: space-between;
   
   
   
    .author{
        padding: 20px;
        font-size: 80%;
        color: #444444;
    }
    .scroll-to-top-icon{
        padding: 15px;
        cursor:pointer;
    }
}
