.footer {
    height: 50px;
    background-color: #F27915;
    display: flex;
    justify-content: space-between;
   
    .contact {
        padding: 20px 0 20px 0;
        font-size: 80%;
        color: black;
        span {
            margin-left: 10px;
        }
    }
   
    .author{
        padding: 20px;
        font-size: 80%;
        color: #444444;
    }
    .scroll-to-top-icon{
        padding: 15px 15px 10px 10%;
        cursor:pointer;
    }
}
