<div *ngFor="let housePropertise of housePropertises">
<div class= "house-properties-agreggated-data">
        <h1>Parametry budynków {{housePropertise.buildingsName}}</h1>
        <p>pow.użytkowa {{housePropertise.functionalSurface}} <span>&#13217;</span>, pow.podłóg {{housePropertise.floorSurfaces}} <span>&#13217;</span> </p>
        <div class ="divider">
                <mat-divider></mat-divider>
    </div>
</div>


<div [ngClass]="mobileQuery.matches ? 'house-properties-container-mobile' : 'house-properties-container'">
  
      <div *ngIf = "housePropertise.groundFloor">
          <h1>Parter {{levelSurfuce(housePropertise.groundFloor) | number : '1.2-2'}}  m2</h1>
          <p *ngFor="let groundFloorProperties of housePropertise.groundFloor;">
            {{groundFloorProperties.name}} {{groundFloorProperties.value}} m2</p>
        </div>
          
        <div *ngIf = "housePropertise.firstFloor">
          <h1>Piętro {{levelSurfuce(housePropertise.firstFloor) | number : '1.2-2'}} m2</h1>
          <p *ngFor="let firstFloorProperties of housePropertise.firstFloor;">
              {{firstFloorProperties.name}} {{firstFloorProperties.value}} m2</p>
        </div>
      
        <div *ngIf = "housePropertise.attic">
          <h1>Poddasze {{levelSurfuce(housePropertise.attic) | number : '1.2-2'}} m2 </h1>
          <p *ngFor="let attic of housePropertise.attic;">
              {{attic.name}} {{attic.value}} m2</p>   
        </div>
</div>
</div>
  

