.house-properties-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.house-properties-container-mobile {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
}

.house-properties-agreggated-data{
    text-align: center;
    h1 {
        font-size: 220%;
        color: #444444; 
        text-align: center
    }
    // .divider{
    //     margin: 0 8% 0 8%;
    // }

}