<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >

    <app-header  class = "example-toolbar"></app-header>

    <mat-sidenav-container class="example-sidenav-container" >
  
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="55"
        position="end">
        <mat-nav-list >
          <a mat-list-item [ngClass]="selectedLink=='main' ? 'active-link' : 'hover hover-1'" (click)="routeTo('/')" > STRONA GŁÓWNA</a>
        </mat-nav-list>
        <mat-nav-list >
          <a mat-list-item [ngClass]="selectedLink=='aktualnaoferta' ? 'active-link' : 'hover hover-1'" (click)="routeTo('inwestycjeaktualne')" > AKTUALNA OFERTA</a>
        </mat-nav-list>
        <mat-nav-list >
          <a mat-list-item [ngClass]="selectedLink=='inwestycjezakonczone' ? 'active-link' : 'hover hover-1'" (click)="routeTo('inwestycjezakonczone')"> ZAKONCZONE INWESTYCJE</a>
        </mat-nav-list>
        <mat-nav-list >
          <a mat-list-item [ngClass]="selectedLink=='onas' ? 'active-link' : 'hover hover-1'" (click)="routeTo('/onas')"> O NAS</a>
        </mat-nav-list>
        <mat-nav-list >
          <a mat-list-item  [ngClass]="selectedLink=='kontakt' ? 'active-link' : 'hover hover-1'" (click)="routeTo('/kontakt')"> KONTAKT</a>
        </mat-nav-list>
       
      </mat-sidenav>
    <mat-sidenav-content  [ngClass]="mobileQuery.matches ? 'mobile-content' : 'content'">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
