<div class="tp-wrapper" >
        <div  class="tp-box" 
        [ngClass]="mobileQuery.matches ? 'tp-box-mobile' : 'tp-box'"
        (mouseover) ="invokeflip()" 
        (mouseleave)="invokeUnFlip()"
         [@flipState]="flip">
            <div class="tp-box__side tp-box__front" [ngStyle]="
            {
                'background': ' url(' + imageUrl  + ')', 'background-size': '100% 100%'
              }">
                <p>{{realEstateName}}</p>
                 
            </div>
            <div class="tp-box__side tp-box__back">
               <p>{{description}}</p>
            </div>
        </div>
    </div>
