<div *ngIf ="isLoading"  [ngClass]="mobileQuery.matches ? 'spinner-container-mobile' : 'spinner-container'">
  <app-spinner></app-spinner>
</div>

      <div [ngStyle]="{'visibility': isLoading ? 'hidden' : 'visible' }">
        <div *ngIf="!mobileQuery.matches" class="demo-carousel" [style.height]="100">
          <mat-carousel
            #matCarousel
            [timings]="timings"
            [autoplay]="autoplay"
            [interval]="interval"
            [loop]="loop"
            [hideArrows]="hideArrows"
            [hideIndicators]="hideIndicators"
            [color]="color"
            [maxWidth]="maxWidth"
            [proportion]="proportion"
            [useKeyboard]="useKeyboard"
            [useMouseWheel]="useMouseWheel"
            [orientation]="orientation"
            [slides]="slides"
            [svgIconOverrides]="svgIconOverrides"
            (change)="onChange($event)"
          >
            <mat-carousel-slide
              #matCarouselSlide
              *ngFor="let slide of carouselItems; let i = index"
              image={{slide.imageUrl}}
              [overlayColor]="overlayColor"
              [hideOverlay]="hideOverlay"
            
            >
              <ng-container >
                <div class = "horizontal-photo-description-container">
                    <div *ngIf = "slide.isWelcomeImage"   class = "welcome-text">
                        <h1>{{slide.title}}</h1>
                        <h2>{{slide.description}}</h2>
                     </div>
                    <div *ngIf = "!slide.isWelcomeImage" class = "real-estate-description">
                      <h1>{{slide.title}}</h1>
                      <h2>{{slide.description}}</h2>
                     </div>
                </div>
              </ng-container>
            </mat-carousel-slide>
          </mat-carousel>
        </div>

        <div class = "about-us">
          <h1>O NAS</h1>
          <div class ="divider">
            <mat-divider></mat-divider>
          </div>
          
          <p>Dewi Invest jest deweloperem o krajowym kapitale i rodowodzie. Naszą firme tworzą osoby z 20 
            letnim doświadczeniem na rynku budowlanym i inwestycyjnym. Firma realizuje własne,
             kompleksowe projekty inwestycyjne w branży mieszkaniowego budownictwa jedno i wielorodzinnego, 
             obejmujące całość procesu deweloperskiego – począwszy od pozyskania gruntów, poprzez projektowanie we 
             współpracy z renomowanymi biurami architektonicznymi, po uzyskanie prawomocnych zezwoleń na budowę, nadzór 
             nad wykonawstwem budowlanym, aż do przekazania gotowych domów lub mieszkań klientom i zarządzania całym obiektem.
            </p>
        </div>

        <div class ="current-investments-container">
          <div class = "current-investments">
              <h1>Aktualne investycje</h1>
              <button  mat-raised-button color="primary" (click)="goTocurrentInvestments()">Zobacz wszystkie</button>
          </div>

          <div class="current-investments" *ngFor="let flipImage of realEstateFlipImages; let i = index" >
                  <app-flip-card 
                  (click)="goToSelectedInvestment(flipImage.realEstateLink)"
                  [descriptions]= "flipImage.realEstateDescriptions" 
                  [title]= "flipImage.title" 
                  [imageUrl]= "flipImage.realEstateImageUrl"
                  [realEstateName] = "flipImage.realEstateName"
                  appImageloaded (imageLoaded)="loadedImages()"
                  ></app-flip-card>
          </div> 
        </div>

        <div *ngIf="!mobileQuery.matches" #counter class ="counter-container" [ngStyle]="
        {
            'background': ' url(' + backgroundCounterUrl  + ')', 'background-size': '100% 100%'
          }">
          <div class="container-item">
            <app-animated-counter #counter1 [digit]="24" [duration]="1000"></app-animated-counter>
            <p>Inwestycji</p>
          </div>
          <div class="container-item">
            <app-animated-counter #counter2 [digit]="147" [duration]="1000"></app-animated-counter>
            <p>Sprzedanych domów</p>
          </div >
          <div  class="container-item">
            <app-animated-counter #counter3 [digit]="312" [duration]="1000"></app-animated-counter>
            <p>Zadowolonych mieszkanców</p>
          </div>
         
        </div>

        <div  [ngClass]="mobileQuery.matches ? 'company-info-container-mobile' : 'company-info-container'"> 
          
          <h1 class ="contact" *ngIf="mobileQuery.matches">Kontakt</h1>

          <div class="map">
              <app-map [lngLat] = "lngLat"></app-map>
          </div>
   
          <div class ="company-info-item">
            <h1>TELEFON:</h1>
            <p>Dział sprzedaży: +48 531 843 594</p>
            <p>Biuro: 12 307 01 01</p>
            <h1>EMAIL:</h1>
            <span>dewi.invest@wp.pl</span>
            <h1>ADRES:</h1>
            <p>Adler spółka z o.o.</p>
            <p>ul. Podmiłów 4b</p>
            <p>30-894 Kraków</p>
          </div>

          <div class ="company-info-item">
            <h1>DANE REJESTROWE:</h1>
            <p>Spółka wpisana do Krajowego</p> 
            <p>Rejestru Sądowego przez Sąd</p>
            <p> Rejonowy dla Krakowa-Śródmieścia, </p>
            <p> XI Wydział Gospodarczy pod numerem </p>
            <p> KRS 0000653927, NIP 6793139120</p>
          </div>
        </div>

</div>