.mobile-toolbar{
  width: 100vw;
}
.toolbar{
  width: 100%;
}
.comapny-name{
    width: 15%;
    height: 75%;
    background: url('/assets/dewi-invest-biale.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

// .mat-toolbar.mat-primary {
//   background: white;
//   color: black;
// }

.comapny-name-mobile{
  width: 35%;
  height: 90%;
  background: url('/assets/dewi-invest-biale.png') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

$animate: all 0.2s ease-in-out;


.menu {
    display: flex;
    width: 100%;
    align-items: stretch; justify-content: center;
   span {
      font-size: 0.9rem;
       cursor: pointer;
   }
   .hover-test {
     margin: 0 1% 0 1%;
    .hover {
      transition: $animate;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0px;
        height: 4px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.75s;
        opacity: 0;
        // background-color: darken(orange,5%);
         background-color: #F27915;
      }
      &.hover-1 {
        &:before,
        &:after {
          left: 0;
        }
      }
      &.hover-2 {
        &:before,
        &:after {
          left: 0;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-3,
        &.hover-4 {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }

 
}

.call-to-us{
  background-color: #F27915;
  font-size: 1rem;
   padding: 0% 3px 0 3px;
}

.active-link {
  border-bottom-style: solid;
  border-bottom-color: #F27915;
  // border-bottom-width: 5px;
}
