<div [ngClass]="mobileQuery.matches ? 'company-info-container-mobile' : 'company-info-container'"> 
    <div  class="map">
        <app-map [lngLat] = "lngLat"></app-map>
    </div>
   

    <div class ="contact-data company-info-item">
      <h1>TELEFON:</h1>
      <span>+48 697 020 081</span>
      <h1>EMAIL:</h1>
      <span>twojdom@gmail.com</span>
      <h1>ADRES:</h1>
      <p>Dewi Invest</p>
      <p>ul. Podmiłów 4</p>
      <p>30-894 Kraków</p>
    </div>

    <div class ="company-data company-info-item">
      <h1>DANE REJESTROWE:</h1>
      <p>Spółka wpisana do Krajowego</p> 
      <p>Rejestru Sądowego przez Sąd</p>
      <p> Rejonowy dla Krakowa-Śródmieścia, </p>
      <p> XI Wydział Gospodarczy pod numerem </p>
      <p> KRS 0000295820, NIP 6770065412</p>
    </div>
  </div>
