.main-photo {
    height: 563px;
    background-size:cover;
    display: flex;
    justify-content: center;

    .real-estate-name {
      color: white;
      font-size: 200%;
      padding: 15% 0 0 0%;
    }

    h1 {
        margin: 0%
    }
    
    p {
        margin: 0%;
        text-align: center
    }

    .read-more-button {
        text-align: center
    }
}

.real-estate-container {
    .h1-normal {
        font-size: 200%;
        color: #444444; 
        text-align: center
    }

    .h1-mobile {
        padding-top: 2%;
        font-size: 150%;
        color: #444444; 
        text-align: center
    }

    margin: 0 8% 0 8%;
    .real-estate-description-container{
        p, li{
            text-align: justify;
        }
    }

.visualizations-container{
    img {
        width: 400px;
        height: 250px;
      }

    .visualizations {
        margin: 1% 0% 0 0%;
        display: flex;
        flex-wrap: wrap;
    
    
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            img {
              object-fit: cover;
              margin: 5px;
            }
          }
    }
}

.visualizations-container-mobile{

    img {
        width: 320px;
        height: 280px;
      }

    .visualizations {
        // margin: 1% 0% 0 0%;
        display: flex;
        flex-wrap: wrap;
    
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            img {
              object-fit: cover;
              margin: 3px;
            }
          }
    }
}

.localization-container {
    margin: 0 0% 2% 0%;

    .map{
        height: 500px;
        width: 100%;
    }

    .map-mobile{
        height: 300px;
        width: 100%;
    }
}

.developers-state {
    margin: 0 0% 2% 0%;
    li {
        padding: 1% 0 0 0
    }
}

.real-estate-reservation {
    margin: 0 0% 2% 0%;

    .real-estate-reservation-row {
        display: flex;
        p {
            padding: 0 1% 0 0
        }
    }
}

  .g-overlay {
    min-width: 320px;
  }
  
  .lightbox-example, .gallerize-example {
    margin: 2em;
  }

  p,li {
    letter-spacing: 0.6px;
    word-spacing: 1px;
    line-height: 1.5;
  }

}

.apartment-cards{
    margin: 1% 0 0 0 ;
    display: flex;
    a { text-decoration: none; }
}