<div *ngIf="!mobileQuery.matches" class = "main-photo"  [ngStyle]="{
        'background': ' url(' + realEstate.realEstatePhotoUrl[0] + ') no-repeat center center fixed',
        'background-size' : '100% 100%'
    }">
    <div class = "real-estate-name">
        <h1>{{realEstate.realEstateName}}</h1>
        <p>{{realEstate.realEstateShortInfo}}</p>
        <div class ="read-more-button">
        <button mat-raised-button color="primary" (click) = "scroll(target)" >Czytaj dalej</button>
        </div>
      
    </div>
</div>

<div class = "real-estate-container"> 
        <div class = "real-estate-description-container">
                <h1  #target>OPIS INWESTYCJI</h1>
                <div class ="divider">
                        <mat-divider></mat-divider>
                </div>

                <div  class = "real-estate-description">
                        <p>
                                {{realEstate.realEstateDescription}} 
                        </p>

                        <ul>
                                <li *ngIf="realEstate.realEstatePrice">Ceny:  {{realEstate.realEstatePrice}} </li>
                                <li>Lokalizacja:  {{realEstate.realEstateLocation}} </li>
                                <li *ngIf="realEstate.constructionAcceptance">Odbiór:  {{realEstate.constructionAcceptance}}</li>
                        </ul>    
                </div>
        </div>

        <app-house-properties 
        *ngIf="realEstate.housePropertise" 
        [housePropertises] = "realEstate.housePropertise"
        ></app-house-properties>

        <app-apartment-properties *ngIf="realEstate.apartmentPropertise" 
        [apartmentPropertises] = "realEstate.apartmentPropertise">
        </app-apartment-properties>
        <p>{{realEstate.additionalInformation}}</p>

        <div [ngClass]="mobileQuery.matches ? 'visualizations-container-mobile' : 'visualizations-container'">
                <h1>WIZUALIZACJE</h1>

                <div class ="divider">
                        <mat-divider></mat-divider>
                </div>

                <div class = "visualizations">
                        <p class="container" gallerize>
                                <img *ngFor="let img of realEstate.realEstatePhotoUrl" [src]="img">
                        </p>
                </div>
        </div>

        <div *ngIf="realEstate.realEstateReservationArray" class = "real-estate-reservation">
                <h1>Rezerwacje:</h1>
                <div class ="divider">
                                <mat-divider></mat-divider>
                </div>
                <div *ngFor="let realEstateReservation of realEstate.realEstateReservationArray;">
                        <div class = "real-estate-reservation-row">
                        <p>{{realEstateReservation.realEstateInfo}} </p>
                        <p [ngStyle]="{'color': realEstateReservation.isReserved ? 'red' : 'black' }">{{ realEstateReservation.isReserved | isRealEstateReserved }}</p>
                        </div>
                
                </div>
                
        </div>

        <div class = "developers-state">
                <h1>Stan deweloperski obejmuje:</h1>

                <div class ="divider">
                                <mat-divider></mat-divider>
                        </div>
                <ul>
                        <li>Ława fundamentowa, zbrojona, betonowa</li>
                        <li>Ściany fundamentowe z pustaka szalunkowego zalewane betonem, malowane dysperbitem 
                        ( izolacja przeciw wodna) ocieplone styropianem i zabezpieczone folią kubełkową</li>
                        <li>Ściany konstrukcyjne z pustaka Porotherm grubości 18 cm docieplone styropianem grubości 15 cm</li>
                        <li>Elewacja pokryta tynkiem akrylowym</li>
                        <li>Konstrukcja dachu drewniana impregnowana</li>
                        <li>Dachówka ceramiczna Wieneberger Koranic 9, kolor antracyt</li>
                        <li>Obróbki blacharskie</li>
                        <li>Płyta monolityczna zbrojona wylewana na budowie</li>
                        <li>Tynki gipsowe</li>
                        <li>Instalacja CO z rury Pex z rozdzielaczami</li>
                        <li>Okna PCV z okleiną jednostronną, pakiet trzyszybowy, drzwi wejściowe</li>
                        <li>Instalacja elektryczna, wod -kan, gazowa, kanalizacyjna</li>
                        <li>Wylewki na styropianie zbrojone, podbicie dachu drewniane, kominy systemowe</li>
                        <li>Poddasze docieplone wełną mineralną o grubości 25 cm</li>
                        <li>Płyty gipsowe na ruszcie metalowym</li>
                        <li>Kanalizacja miejska</li>
                        <li>Ogrzewanie podłogowe w kuchni i łazienkach</li>
                        <li>Komin do pieca gazowego i kominy wentylacyjne</li>
                        <li>Piec gazowy dwufunkcyjny Saunier Dival</li>
                        <li>Grzejniki Diamond</li>
                        <li>Udział w działce</li>
                        <li>Odbiór budynku</li>
                </ul> 
        </div>

        <div class = "localization-container">
                <h1>LOKALIZACJA</h1>

                <div class ="divider">
                        <mat-divider></mat-divider>
                </div>

                <div  [ngClass]="mobileQuery.matches ? 'map-mobile' : 'map'">
                        <app-map [lngLat] = "realEstate.lngLatOfRealEstate"></app-map>
                </div>
        </div>
</div>