.map{
    // height: 400px;
    // width: 650px
    height: 100%;
    width: 100%;
}

.marker {
    // display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }