<div *ngIf ="isLoading"  class="spinner-container ">
    <mat-progress-spinner
    class="spinner"
    [color]="color"
    [mode]="mode"
    [value]="value">
</mat-progress-spinner>
</div>
<div  
    [ngStyle]="{'visibility': isLoading ? 'hidden' : 'visible' }"
    [ngClass]="mobileQuery.matches ? 'real-estate-list-container-mobile' : 'real-estate-list-container'"
>
<!-- <h1>{{titlte}}</h1> -->

<div class ="divider">
    <mat-divider></mat-divider>
</div>

  <div 
    (click)="goToRealEstate(realEstate.realEstateName)" 
    *ngFor = "let realEstate of realEstateList;" 
    class="real-estate-list" 
    appBackgroundImageLoaded (imageLoaded)="loadedImages()"
    [ngStyle]="{
                'background' : ' url(' + realEstate.realEstateImageUrl + ') no-repeat center center',
                'background-size':  mobileQuery.matches ?  '100% 80%' : '100%'
            }" >
              
            <p >{{ realEstate.realEstateName }}</p>
    </div>

</div>

<!-- no-repeat center center fixed -->