
 <div class = "title">
        <h1>Parametry mieszkań:</h1>
        <div class ="divider">
                        <mat-divider></mat-divider>
                </div>
 </div>
 
<div class ="prop">
            <div *ngFor="let apartmentPropertise of apartmentPropertises;" class = "properties-properties-container">
                    <p class ="aprtment-name">{{apartmentPropertise.apartmentName}}</p>
                    <div class ="divider">
                            <mat-divider></mat-divider>
                    </div>
                <div *ngFor="let levelProperties of apartmentPropertise.levelProperties;" class="levels">
                    <h1>{{levelProperties.levelInformation}}</h1>
                    <p *ngFor="let apartmentPropertis of levelProperties.apartmentPropertis;">
                            {{apartmentPropertis.name}} {{apartmentPropertis.value}} m2
                        </p>
                </div>
            </div>       
</div>

